*.DS_Store
.classpath
.project
.settings
.idea
.gradle
*.iml
classes/
webdata/
build/
deploy/
node_modules/
src/generated/
src/main/generated/
out/
gulp/admin/node_modules
gulp/admin/public
gulp/admin/src/lib
gulp/admin/src/img
gulp/admin/src/fonts
gulp/admin/src/icons
gulp/admin/src/static
gulp/admin/sass-cache
bin/
logs/
