*.DS_Store
*.iml
.classpath
.project
.settings
.idea/
.gradle/
classes/
webdata/
node_modules/
**/build/
**/deploy/
**/src/generated/
**/src/main/generated/
gulp/admin/node_modules
gulp/admin/public
gulp/admin/src/libs/*
gulp/admin/src/img
gulp/admin/src/images
gulp/admin/src/fonts
gulp/admin/src/icons
gulp/admin/src/static
gulp/admin/sass-cache
bin/
logs/
out/
