/* ==========================================================================
   Page "Gestion des blocks"
   ========================================================================== */

/* Titre de la page */

.panel-block-title
{
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: 300;
    line-height: 40px;

    display: block;

    width: 100%;
    padding: 3px;

    color: #2c2c2c;
    border-bottom: 2px solid rgba(128, 128, 128, .05);

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    ;
}

/* Titre modal block */

h3.titleModalBlock
{
    display: inline-block;
}
/* Bouton ajax modal */

.ajaxButtons
{
    display: inline-block;
}
.jsAjaxButton
{
    padding: 15px;
}

.changeTypeContainer
{
    display: inline-block;

    margin-left: 18px;

    vertical-align: text-bottom;
}

.changeType
{
    font-size: 10px;
    font-weight: 500;

    padding: 1px 3px;

    cursor: pointer;


    &:hover
    {
        color: #fff;
        background-color: #10cfbd;
    }
}
