/* ==========================================================================
     Page "Gestion CMS"
   ========================================================================== */

.container-fluid
{
    margin-left: 0;

    transition: all .5s;
    &.expanded
    {
        margin-left: -310px;
    }
}

.pageContentContainer
{
    margin-left: 300px;
}

.btn-expand
{
    font-size: 13px;

    margin: 6px 0 0 6px;
    padding: 3px 15px;
}
/* Image template */
.thumbnail-wrapper.d100
{
    font-weight: bold;
    line-height: 100px;

    width: 100px;
    height: 100px;
    margin-left: 20px;

    text-align: center;

    color: white;
    background: #10cfbd;
}

/* Titre Nom de la page */
input.page-title
{
    font-size: 31px;
    line-height: 40px;
}

.panel-page-title
{
    margin-top: 18px;
    margin-left: 142px;
}

/* Alignememt bouton Menu et enabled */
.checkbox.check-success
{
    display: inline-block;
}

.menuEnabled
{
    float: left;
}

/* Select country */

.lang-selector
{
    padding: 8px;

    text-align: center;

    background: #f3f3f3;
}
.select-country
{
    margin: 0 auto;
}

.select-country .select2-container
{
    width: 120px;
}

.select-country a.select2-choice
{
    padding-top: 3px;

    opacity: .8;
}


/* Opération bouton ajouter/supprimer une page */
.operation-box
{
    position: absolute;
    top: 7px;
    right: 10px;

    button
    {
        width: 40px!important;
        height: 40px;
        padding: 0;

        transition: .7s!important;

        opacity: .7;
        border-color: #e8e8e8;
        border-radius: 100%;
        i
        {
            font-size: 18px;

            margin-top: 3px;
            margin-left: 2px;

            transition: .8s;

            color: #717171;
        }
        &:hover
        {
            opacity: 1;
        }
        &:hover i
        {
            color: #fff;
        }
        &.btn-delete
        {
            transition: 2s;

            background: #fff;
        }
        &.btn-delete:hover
        {
            border-color: #f55753;
            background: #f55753;
        }

        &.btn-add:hover
        {
            border-color: #10cfbd;
            background: #10cfbd;
        }
    }
}

/* ==========================================================================
   Arbre
   ========================================================================== */

.tree-container
{
    position: absolute;
    z-index: 0;

    width: 280px;
}

/* Alignement du titre et du bouton */
.panel.panel-tree .panel-heading .panel-title
{
    line-height: 35px;

    width: 100%;
}
#btnCreatePage
{
    padding: 2px 10px;
}

.panel-tree .panel-title i
{
    font-size: 17px;

    vertical-align: middle;
}

/* ==========================================================================
   Modals
   ========================================================================== */

/* Modal delete */
.modal.fade.slide-right-center.in .modal-dialog
{
    transform: translate3d(0, 0, 0) translateY(-50%);
}
.modal.fade.slide-right-center .modal-dialog
{
    top: 50%;

    height: auto;
}

.modal.fade.slide-right-top.in .modal-dialog
{
    transform: translate3d(0, 0, 0) translateY(-50%);
}
.modal.fade.slide-right-top .modal-dialog
{
    top: 30%;

    height: auto;
}

.modal.fade.slide-right-bottom.in .modal-dialog
{
    transform: translate3d(0, 0, 0) translateY(-50%);
}
.modal.fade.slide-right-bottom .modal-dialog
{
    top: 70%;

    height: auto;
}

/* ==========================================================================
   Tableau FILE
   ========================================================================== */

/* Alignement du tableau */
.table.table-hover.table-small-pad tr td
{
    padding: 5px;

    vertical-align: middle;
}

#tableFiles label,
#tableFiles label:before
{
    margin: 0;
}

table#tableFiles.table.table-hover th
{
    text-align: center;
}
.table tbody tr td
{
    padding: 15px;
}

/* Image Type */
img.imgType
{
    width: 30px;
}

/* Chekbox alignement */
.checkbox-alone label:before,
.checkbox-alone label:after
{
    left: 50%;

    transform: translateX(-50%);
}

/* Opération sur les boutons enregister/supprimer */



/* ==========================================================================
   Média Queries
   ========================================================================== */

@media (max-width: 991px)
{
    .thumbnail-wrapper.d100,
    .panel-page-title
    {
        display: block!important;
        float: none;

        margin: 20px auto;

        text-align: center;
    }
    input.page-title
    {
        text-align: center;
    }
}


/* ==========================================================================
   LANGUAGE ENABLED
   ========================================================================== */

/* GENERAL */
.language-container
{
    position: relative;

    display: inline-block;
}

h6.enabledLanguageTitle
{
    font-size: 13px;
    font-weight: 400;

    display: inline-block;

    margin-top: 9px;

    color: #626262;

    &:hover
    {
        cursor: pointer;
    }
}

.greyBack
{
    background-color: #ff00;
}

.btn-languageEnable-visible
{
    overflow: visible;
}

/* DISPLAY INLINE */
.languageWrapline
{
    display: inline-block;

    margin-left: 10px;
}

.languageWrapline ul
{
    padding: 0;
}

.languageWrapline ul li
{
    width: 80px;
}

.languageWrapline ul li a
{
    margin-left: 5px;
}

/*.languageEnable:before
{
    margin-right: 1px;

    content: '|';
}

.languageEnable:first-child:before
{
    display: none;
}*/
.checkbox.languageEnable label::after
{
    width: 12px;
}

.languageLiLine
{
    display: inline-block;
}

/* DISPLAY BLOCK */
.languageWrapBlock ul
{
    display: none;

    width: 144px;
    margin-top: -10px;
    padding-left: 0;

    text-align: center;

    color: #000;
    border: 1px solid rgba(170,170,170,.22);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: #fff;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.languageWrapBlock
{
    position: absolute;
    top: 100%;
    left: 0;
}

.btn-title-language:hover + .languageWrapBlock ul
{
    display: block;
}

.languageWrapBlock:hover ul
{
    display: block;
}

.languageWrapBlock ul li a
{
    margin-left: 5px;
}

.languageLiBlock
{
    display: block;
}

.btn-title-language
{
    width: 145px;
    height: 25px;
    padding: 3px 9px;

    transition: border .2s linear 0s;

    border: 1px solid rgba(0, 0, 0, .07);
    border-radius: 2px;
}

.btn-title-language:after
{
    font-family: 'FontAwesome';
    font-size: 12px;

    position: relative;
    top: 0;
    right: -10px;

    content: '\f0d7';
}


/* select */

.img-flag
{
    max-width: 24px;
}

.flag
{
    max-width: 24px;
    padding-right: 10px;
}
