/* ==========================================================================
   Gestion fieldset
   ========================================================================== */
/* PAGE */

.blockTitle,
.fieldsetTitle
{
    padding-bottom: 5px;

    border-bottom: 1px solid #e6e6e6;
}

/* INPUT CONTAINER GENERAL */
.inputs-container
{
    overflow: hidden;

    padding: 10px;

    background-color: rgb(245,245,245);
}

/* INPUT UL */
ul.inputUl
{
    overflow: auto;

    max-height: 180px;
    margin: 0 0 10px 0;
    padding: 10px;

    background-color: rgb(255,255,255);

    .input-li
    {
        position: relative;

        padding: 10px;

        list-style-type: none;

        border-bottom: 1px solid #e6e6e6;

        &:hover
        {
            cursor: pointer;
        }

        &.active
        {
            color: #10cfbd;
            border-left: 2px solid #10cfbd;
        }
        .removeField
        {
            position: absolute;
            right: 10px;
            bottom: 10px;

            display: inline-block;

            width: 20px;
            height: 20px;

            text-align: center;

            color: #10cfbd;

            i
            {
                vertical-align: center;
            }
        }
    }
}

/* INPUT EDIT CONTAINER */

.inputContent
{
    padding: 5px 20px;

    background-color: rgb(255,255,255);

    .input-div
    {
        display: none;

        margin-bottom: 10px;
        padding: 30px 20px;
    }

    input
    {
        margin: 5px 0;
    }
}

.inputGrey
{
    color: #aaa;
}

.inputGrey.typeName
{
    line-height: 35px;

    margin-left: 15px;
}

.fc-switch.typeButton
{
    margin-top: 5px;
    margin-left: 65px;
}

.inputArrayContainer
{
    height: 35px;
}

.noBorder
{
    border: none;
}


/* BUTTON */

.btnCreateFieldset
{
    margin-top: 12px;
}

.addBtnInputs
{
    margin: 5px 0;
}

.fieldsetAddBtn
{
    font-size: 17px;

    vertical-align: middle;
}

.editor-name:hover
{
    cursor: pointer;
}
