/* ==========================================================================
   TEMPLATE
   ========================================================================== */

.container-template
{
    margin: 5px 0;
    padding: 10px;
}

/* Button */
.btnCreateTemplate
{
    margin-top: 12px;
}
.templateAddBtn
{
    font-size: 17px;

    vertical-align: middle;
}

.addInputsInTemp
{
    padding: 5px 2px;
}
