.date-and-time-group
{
    label
    {
        display: block;
    }

    > div
    {
        display: inline-block;

        max-width: 150px;

        > .bootstrap-timepicker
        {
            max-width: 120px;
        }
    }
}

.webcontent-search
{
    display: inline-block;

    width: 500px;

    vertical-align: middle;
}

.webcontent-add
{
    display: inline-block;

    width: 50px;
}
