/* Le bouton pour fixer le bouton qui fixe la sidebar car il était décallé  */
.sidebar-header-controls
{
    margin-left: 48px;
}
.page-container .page-content-wrapper .content
{
    padding-bottom: 0;
}
/* Bug si overflow alors que la div est en absolute */
.table-responsive
{
    min-width: .01%;
}

/* Bug le contenu va sur le footer qui est en pos abs. */
.page-content-wrapper
{
    padding-bottom: 80px;
}

/* Formulaire des pages pour ajouter un tooltip */
.form-group.form-group-default
{
    overflow: inherit;
}
.form-group.form-group-default i
{
    display: inline-block;

    margin-left: 4px;

    color: #626262;
}
.form-group.form-group-default label
{
    display: inline-block;
}
.form-group.form-group-default.focused i
{
    opacity: .5;
}
.nav-tabs-simple > li:after
{
    background: #10cfbd;
}

.mark,
mark
{
    padding: .2em;

    background-color: #a4fff6;
}

.select2-disabled
{
    opacity: .2!important;
    background: none;

    .select2-result-label
    {
        cursor: not-allowed!important;
    }
}

.select2-search-field
{
    margin: 3px 0 0 10px !important;
}

.select2-container
{
    min-width: 150px;
}

.form-group .help
{
    margin-left: 5px;
}

.form-group-default textarea.form-control
{
    height: auto;
}

@media (max-width: 767px)
{
    .container-fluid
    {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.form-group-attached > div.row > [class*='col-']:not(:only-child):not(:last-child) > .form-group-default
{
    height: 59px;
}

/* TIME PICKER */
.bootstrap-timepicker-widget table td:not(.separator)
{
    min-width: 50px!important;
}
.bootstrap-timepicker-widget table td input
{
    width: 35px!important;
    height: 33px!important;
}


.form-group
{
    .checkbox label,
    .radio label
    {
        font-weight: 400;
    }
}

fieldset
{
    margin-top: 20px;
    margin-left: 20px;

    legend
    {
        font-size: 19px;

        margin-left: -20px;
        padding-bottom: 7px;

        border-width: 2px;
    }
}
