.content
  .jumbotron(data-pages='parallax')
    .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
      .inner
        ul.breadcrumb
          li
            p LightCMS
          li
            a.active(href='#') #{pageName}
