<div class="breadcrumb">
    <div class="l-container">
        <div class="breadcrumb-page-title">{{ message("error.404") | capitalize }}</div>
        <p class="breadcrumb-sub"></p>
    </div>
</div>
<div class="error-container">
    <h4 class="error">{{ message("oops") | capitalize }}...</h4>
    <p class="error-message">{{ message("error.notFound") }}.</p>
</div>