<div class="breadcrumb">
    <div class="l-container">
        <div class="breadcrumb-page-title">{{ message("error.maintenance.title") | capitalize }}</div>
        <p class="breadcrumb-sub"></p>
    </div>
</div>
<div class="error-container">
    <h4 class="error"><img src="/resources/cms/img/maintenance.png" /></h4>
    <p class="error-message">{{ message("error.maintenance.message") }}.</p>
</div>