<?xml version="1.0" encoding="UTF-8"?>
<div class="Template">
    <h1>testTemplate</h1>
    <h2>content</h2>
    {{ data.mainContent_tiny | raw }}
    <h2>youtube link</h2>
    {{ data.yt_txt }}
</div>